################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MDSTemplate/bin/x64/Debug
/MDSTemplate/obj
/MDSTemplate/obj
/MDSTemplate/obj/ARM
/MDSTemplate/obj/ARM/Debug
/MDSTemplate/obj/ARM/Debug/MainPage.g.cs
/MDSTemplate/obj
